


/* estilos generales de la pagina, se aplican a todas las paginas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
}

/* estilos que se agregan al emcabezado de la pagina */

header {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 50px;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


/* estilos del cuerpo de la pagina, se aplican a toda la pagina */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #84bb0c;
}

section h3 {
  color: #15f0b5;
}


section p {
    color: #bc8821;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos específicos para la sección de datos de la pagina principal */
section.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  section.datos h2, section.datos img {
    margin-bottom: 20px;
  }
  
  section.datos img {
    
    width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  section.datos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 20px;
  }
  
  section.datos ul li {
    flex: 0 0 calc(33.33% - 20px);
    min-width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  section.datos ul li:nth-last-child(1) {
    margin-right: 0;
  }
  





/* estilos especificos de la pagina eduacion */

section.datos img.img1 {
    width: 400px; /* Ancho deseado para la imagen */
    margin-bottom: 20px; /* Espacio inferior entre la imagen y otros elementos */
}
/* estilos especificos de la pagina experiencia */

section.datos img.img2 {
    width: 700px; /* Ancho deseado para la imagen */
    margin-bottom: 20px; /* Espacio inferior entre la imagen y otros elementos */
}



/* contacto */


.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  h2 {
    text-align: center;
    color: #333;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .error {
    color: red;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }